body {
	background-color: #33ccff;
/*	background: linear-gradient(to right,  #33ccff 0%, #66ff66 110%); */
	background: linear-gradient(to right,  #33ccff 0%, white 110%);
	margin: 0;
	overflow-y: visible;
}

body h2 {
	font-size: 1.3rem;
	line-height: 0.7rem;
}

.header {
/*	background-color: #A1E0BBFF;*/
	background-color: transparent;
	margin-bottom: -2rem;
	padding-top: 0.5rem;
	text-align: center;
}

/* Top navigation bar */
.topnav {
	overflow: hidden;
	background-color: transparent;
	border-bottom: 1px solid white;
}

/* Topnav links */
.topnav a {
	float: left;
	display: block;
	width:  4rem;
	color: black;
	text-align: center;
	text-decoration: none;
	padding: 10px 10px;
}

/* Change color on hover */
.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.cont1 {
	margin-top: 0rem;
	text-align: center;
	border: 0px dotted green;
	/*overflow-y: all;*/
}

.block {
	width: 27rem;
	height: 8rem;
	padding-top: 0.2rem;
	margin-top: 1rem;
	margin-left: 0.2rem;
	margin-right: 0.2rem;
	vertical-align: middle;
	text-align: center;
	display: inline-block;
	overflow-y: visible;
	border: 0px dotted blue;
}

#feat_06 {
	padding-top: 0px;
}

#feat_09 {
	position: relative;
	vertical-align: middle;
	text-align: center;
}

#feat_09btn {
	background-color: #ffff66;
	margin-top: 0;
	width: 8rem;
	height: 2.4rem;
	border: 1px solid red;
	display: inline-block;
	position: absolute;
	/*margin-top: -0.5rem;*/
	margin-left: -4rem;
}