.container {
	background: lightblue;
}

.row {
	background: blue;
	height: 200px;
}

.row div {
	text-align: center;
	height: 50px;
}

.row div:nth-child(odd) {
	background: yellow;
}

.row div:nth-child(even) {
	background: lightgreen;
}